.recipeAuthorBlock {
    display: flex;
    justify-content: space-evenly;
    }
    
    .imageUpdates {
       object-fit: contain;
    }
 
    h3 {
        color: brown;
        font-style: italic;
    }