.recipeAuthorBlock {
    display: flex;
    justify-content: space-evenly;
    }
    
.imageUpdates {
       object-fit: contain;
       height: 200px;
       width: 200px;
       margin-top: 20px;
    }
 
h3 {
        color: brown;
        font-style: italic;
    }

.alignPhotos {
  padding: 30px; 
}