
#saveButton {
   background-color: red;
   color: white;
   border-radius: 25px;
   font-size: 20px;
   padding: 10px;
   margin: 10px;
 }
 
 #saveButton:hover {
   background-color: firebrick;
   color: white;
 }
 
 #clickedButton {
   background-color: black;
   color: white;
   border-radius: 25px;
   font-size: 20px;
   padding: 10px;
   margin: 10px;
 }
 
 .authorImage {
   border-radius: 50%;
   width: 60px;
   height: 70px;
   margin: 10px;
 }
 
 .recipeImage {
   width: 40%;
   display: block;
   margin: 30px;
 }
 .ingredientList {
  text-align: center;
}
.displayWebsiteLink a::before {
    /* Use the content property to display an icon before the link text */
    content: "🔗 "; /* Custom icon */
    margin-right: 2px; 
  }
  
  .displayWebsiteLink a::after {
    /* Use the content property to display custom text after the link text */
    content: "-click here!"; /* Custom text */
    color: green; 
}