.choresText {
   color: lightblue;
   font-style: italic;
   font-size: medium;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.choresHeading {
   color: red;
   /* font-style: underline; */
}